/* App.css */

/* General styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #4167d1;
}

.crypto-container {
  width: 100%;
  overflow: hidden;
  margin-left: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.filter {
  margin: 1rem;
}

a {
  color: rgb(1, 12, 20);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Homepage styles */

.crypto-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: max-content;
}

.crypto-item {
  width: 200px;
  max-height: 200px;
  float: left;
  box-sizing: border-box;
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: rgba(131, 124, 235, 0.562);
  display: grid;
}

.background-1 {
  background-color: #6985b9;
}

.background-2 {
  background-color: #3f63a6;
}

.crypto-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.crypto-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  margin-left: 30px;
}

.icon {
  margin-left: 10rem;
}

.crypto-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-link {
  margin-bottom: 2rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.crypto-details {
  align-items: center;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #69b2d4;
}

.cryptodetailes-img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.crypto-info {
  display: flex;
  flex-direction: column;
}

.crypto-info p {
  margin: 0.2rem 0;
  font-size: 2rem;
}

.crypto-symbol,
.crypto-rank,
.crypto-price,
.crypto-price-btc,
.crypto-volume,
.crypto-market-cap,
.crypto-available-supply,
.crypto-total-supply,
.crypto-price-change-1h,
.crypto-price-change-24h,
.crypto-price-change-7d {
  font-size: 0.8rem;
}

.loading,
.error,
.not-found {
  margin: 2rem 0;
}

.crypto-details {
  border-collapse: collapse;
  width: 100%;
}

.crypto-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}